<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <div class="col-md-12 text-center" id="form">
    		<b><h2>Recuperar contraseña</h2></b>
    </div>
    <!-- Login Form -->
    <form #form="ngForm" (ngSubmit) = "enterEmail(form)" id="form">
      <div class="form-group">
          
          <input type="email"  class="fadeIn second" name="email" placeholder="Correo" ngModel required> 
        </div>
      <input type="submit" class="fadeIn fourth" value="ENVIAR">
      <br>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover"  href="/signin">Iniciar Sesion</a>
    </div>

  </div>
</div> 
