#form{
    border-radius: 10px 10px 10px 10px;
    background: #0F2027;  /* fallback for old browsers */
    background: linear-gradient(to right, #0F2027, #203A43, #2C5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    color: #39ace7;
    margin-top: 20px;
  }

  #m{
    margin-top: 5px;
  }
  
  #ma{
    margin-top: 15px;
  }