<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="col-md-12 text-center" id="form">
        <b><h2>Cambiar Contraseña </h2></b>
    </div>
    <!-- Login Form -->
    <form #form="ngForm" (ngSubmit) = "enterPassword(form)" id="form">
      <input type="password"  class="fadeIn second" name="password" placeholder="Contraseña"  ngModel required>
      <input type="password"  class="fadeIn third" name="password1" placeholder="Confirmar Contraseña"  ngModel required>
      <input type="submit" class="fadeIn fourth" expand="block" value="Cambiar Contraseña" >
    </form>
  </div>
</div>
